/*Font font-family: 'VT323', monospace; */
body{
    background-image: url("../assets/Base.png");
    background-size: cover;
    background-repeat: no-repeat;
   
    
}

.pokemonBox{
    
    height: 80vw;
    margin-top: 40vw;
    border: 2px rgb(195, 245, 241) solid;
    overflow: auto;
   
}
.pokeFinder{
    border-right: 2px black solid;
    border-left: 2px black solid;
    border-top: none;
    border-bottom: none;
    border-radius: 15px;
    background-color: rgb(225, 249, 245  , 0.5);
    outline: none;
    height: 2rem;
    margin-top: 8vw;
    

}
#searchButton{
    border-radius: 50%;
    border: none;
    height:8rem;

    margin-top: 18vw;
}

.titles{
    font-family: 'VT323', monospace;
    font-size: 2rem;
    color: #2e87d4;
}
/*colors for the badges*/
.electric{
    background-color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.normal{
    background-color: rgb(168, 168, 120);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.fighting{
    background-color: rgb(224, 192, 104);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.flying{
    background-color: rgb(168, 144, 240);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.poison{
    background-color: rgb(160, 64, 160);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.ground{
    background-color: rgb(224, 192, 104);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.rock{
    background-color: rgb(184, 160, 56);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.bug{
    background-color: rgb(168, 184, 32);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.ghost{
    background-color: rgb(112, 88, 152);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.steel{
    background-color: rgb(184, 184, 208);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.fire{
    background-color: rgb(240, 128, 48);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.water{
    background-color: rgb(104, 144, 240);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.grass{
    background-color: rgb(120, 200, 80);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.psychic{
    background-color: rgb(248, 88, 136);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.ice{
    background-color: rgb(152, 216, 216);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.dragon{
    background-color: rgb(112, 56, 248);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.dark{
    background-color: rgb(112, 88, 72);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}
.fairy{
    background-color: rgb(238, 153, 172);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;
}

