/*Font font-family: 'VT323', monospace; */
body{
    background-image: url("../assets/Base.png");
    background-size: cover;
    background-repeat: no-repeat;
   
    
}

.pokemonBox{
    
    height: 80vw;
    margin-top: 40vw;
    border: 2px rgb(195, 245, 241) solid;
    overflow: auto;
   
}
.pokeFinder{
    border-right: 2px black solid;
    border-left: 2px black solid;
    border-top: none;
    border-bottom: none;
    border-radius: 15px;
    background-color: rgb(225, 249, 245  , 0.5);
    outline: none;
    height: 2rem;
    margin-top: 8vw;
    

}
#searchButton{
    border-radius: 50%;
    border: none;
    height:8rem;

    margin-top: 18vw;
}
.titles{
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
    color: #41a6ff;
}
/*colors for the badges*/
.electric{
    background-color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: whitesmoke;
    font-size: 1.3rem;

}