
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active" id="active-carousel">
				<div id="pokemonBox1" class="col-8 offset-2 pokemonBox">
					<div class="row">
						<div  class="col-5 pokemonName titles">{{pokeName}}</div>
						<div class="col-4 offset-3 PokemonNumber titles">#{{pokeId}}</div>
					</div>
					<div class="row">
						<div id="pokemonImageBox" class="col-12 text-center"><img height="250" width="250"src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" class="image" ></div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="carousel-item" id="carrouselItem">
				<div id="pokeTemplate2" class="col-8 offset-2 pokemonBox">
					<div class="row">
						<div class="col-5 pokemonName titles">{{pokeName}}</div>
						<div class="col-4 offset-3 PokemonNumber titles">#{{pokeId}}</div>
                    </div>
					<!--Tipos-->
					<div class="row">
						<div id="pokemonTypeBadges" class="col-12 titles">type</div>
						<span id="pokeType1" class="badge badge-primary">{{type1}}</span>
						<span id="pokeType2"  class="badge badge-secondary">{{type2}}</span>
						<span id="pokeType3"  class="badge badge-success">{{type3}}</span>
						<span id="pokeType4"  class="badge badge-success">{{type4}}</span>
					</div>
					<!--sprites Title-->
					<div class="row">
						<div id="pokemonSpriteTitle" class="col-6  titles	">sprite_Default</div>
						<div id="pokemonSpriteTitle" class="col-6  titles	">sprite_Shiny</div>
					</div>
					<!--sprites -->
					<div class="row">
						<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/12.png" alt="" class="col-6">
						<img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/12.png" alt="" class="col-6">
					</div>

					
					<!--Detalles Titulos-->
					<div class="row">
						<div id="pokemonweightTitle" class="col-6  titles">weight</div>
						<div id="pokemonHeightTitles" class="col-6  titles">height</div>
					</div>
					<!--Resultado de detalles-->
					<div class="row">
						<div id="pokemonWeight" class="col-6 ">{{weight}}</div>
						<div id="pokemonHeight" class="col-6 ">{{heigh}}</div>
					</div>
					<!--Detalles 2 Titulos-->
					<div class="row">
							<div id="pokemonAbilityTitle" class="col-6  titles">Ability</div>
							<div id="pokemonSecondaryAbilityTitle" class="col-6 titles">Ability</div>
					</div>
					<!--Detalles 2 -->
					<div class="row">
							<div id="pokemonAbility" class="col-6">{{ability}}</div>
							<div id="pokemonSecondaryAbility" class="col-6 ">{{Ability}}</div>
					</div>
				</div>				
			
			</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>

	<section class="searchBar">
		<div class="row">
			<input type="search" name="findingPokemon" id="findingPokemon" class="col-6 offset-3 pokeFinder text-lowercase">
		</div>
	</section> 
	<section>
		<div class="row">
			<button id="searchButton" class="col-4 offset-4 bg-transparent" type="button">Buscar</button>
		</div>
	</section>
	
	
	
